spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: seances-id
          uri: lb://seances
          predicates:
            - Path=/seances/**
          metadata:
            cors:
              allowedOrigins: '*'
              allowedMethods:
                - GET
                - POST
                - PUT
                - DELETE
              allowedHeaders: '*'
              maxAge: 30
        - id: utilisateurs-id
          uri: lb://utilisateurs
          predicates:
            - Path=/utilisateurs/**
          metadata:
            cors:
              allowedOrigins: '*'
              allowedMethods:
                - GET
                - POST
                - PUT
                - DELETE
              allowedHeaders: '*'
              maxAge: 30
        - id : salles-id
          uri : lb://salles
          predicates:
            - Path=/salles/**
          metadata:
            cors:
              allowedOrigins: '*'
              allowedMethods:
                - GET
                - POST
                - PUT
                - DELETE
                - OPTIONS
              allowedHeaders: '*'
              maxAge: 30
        - id: formations-id
          uri: lb://formations
          predicates:
            - Path=/formations/**
          metadata:
            cors:
              allowedOrigins: '*'
              allowedMethods:
                - GET
                - POST
                - PUT
                - DELETE
              allowedHeaders: '*'
              maxAge: 30